p {
    color: darkred;
    font-size: 1em ;
}
/* The colors that I chose match the Maryland color scheme*/
h2{
    color: goldenrod;
    font-size: 3em;
}

table, td, th{
    border-style: solid;
    border-color: lightslategray;
}
/* I mad sure that the headers had a noticeably larger font size than the paragraphs*/
p#pg3{
    color: goldenrod;
    font-size: 1em;
}

li.dkgry{
    color: darkgray;
}
/* this replaced the in line dimensions for the quest logo*/
img.logo{
    width: 221px;
    height: 92px;
}