<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
</head>
<body>
    <h1>Who am I</h1>
    <img src="https://terpconnect.umd.edu/~jbono/bmgt408c/images/quest-logo.png" class = logo alt="QUEST logo">
    <h2>As a Student</h2>
    <!--In the following line, I use the strong element to make the areas of study bold-->
    <p>I am a software <strong>Mechanical Engineering</strong> major at the University of Maryland. I am taking this class because I enjoy <strong>Computer Science</strong> but don't have as much experience with it as I would like.</p>
    <p>This is my first <a href="/hello">project</a> from the class</p>
    <table>
        <tr>
            <th>Course Name</th>
            <th>Semester Taken</th>
        </tr>
        <tr>
            <td>MATH 241</td>
            <td>Fall 2024</td>
        </tr>
        <tr>
            <td>ENGL 101</td>
            <td>Spring 2025</td>
        </tr>
        <tr>
            <td>ENES 100</td>
            <td>Fall 2025</td>
        </tr>
    </table>
    <p>This semester I am taking</p>
    <ul>
        <li class=dkgry>INAG 110</li>
        <li class=dkgry>PHYS 270</li>
        <li class=dkgry>ENES 220</li>
        <li class=dkgry>ENES 221</li>
        <li class=dkgry>BMGT 408C</li>
    </ul>
    <h2>Outside of School</h2>
    <!--In the following line, I use the em element to make the sports italic-->
    <p>I am from Brewster, NY, which is 90 minutes from NYC. I enjoy most sports, especially <em>football</em> and <em>basketball</em></p>
    <p>My favorite professional teams are:</p>
    <ol>
        <li>Pittsburgh Steelers</li>
        <li>New York Knicks</li>
        <li>New York Yankees</li>
        <li>New York Rangers</li>
    </ol>
    <p>Two of my favorite websites are:</p>
    <ul>
        <li>This <a href="https://fantasy.nfl.com/"> Fantasy Football</a> site.</li>
        <!--In the following line, I use the target="_blank" element to make the link open in a new tab-->
        <li>This <a href="https://www.boredbutton.com/" target="_blank"> time-wasting</a> site.</li>
    </ul>

    <h3>My Family</h3>
    <p id="pg3">I am fortunate enough to have a family of five, including an older sister and a younger brother, I also have a dog. My dad is a physics teacher at my local public school. My mom works in HR for IBM. My sister went to UVA and has recently started working in NYC. My brother is a senior in high school.</p>
</body>
</html>